
<style>



</style>




<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Skill set</h4>
                <ul>
                    <li><a href="#"> Python </a></li>
                    <li><a href="#"> Django </a></li>
                    <li><a href="#"> web Development </a></li>
                    <li><a href="#"> Web Scraping</li>
                    <li><a href="#"> Django REST API </a></li>


                    <li><a href="#"> Postgres</a><li>
                    <li><a href="#"> MySQL </a></li>
                    

                   <!--<li><a href="#"> Location: <br>lagos <br>
                    <strong>Phone:</strong> +2348079385255</a></li>-->
                  
                </ul>
            </div>
            <div class="footer-col">
                <h4>Some skills</h4>


                <ul>
                    <li><a href="#"> Pandas </a></li>
                    <li><a href="">  Numpy</a></li>
                    <li><a href="">Github </a></li>
                    <li><a href="#">Excel </a></li>
                    <li><a href="#">Heroku </a></li>
                    <li><a href="#">Communication </a></li>
                    <li><a href="#">Teaching </a></li>
                   
                </ul>
             
 	


              
            </div>

            <div class="footer-col">
                <h4>Additional Skills</h4>
                <ul>
                    <li><a href="#"> Logistic Regression </a></li>
                    <li><a href=""> Linear Regression</a></li>
                    <li><a href="">Data Engineering </a></li>
                    <li><a href="#">Data cleaning </a></li>
                    <li><a href="#">Data visualization </a></li>
                   

                  
                </ul>
              
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">+2348079385255 </a></li>
                   
                    <li><a href="#" style="text-transform: lowercase;">nuel4xelence@gmail.com</a></li>
                    
                </ul>
              
            </div>
            <!--<div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href=""><i class="fa fa-facebook-f"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin-in"></i></a>
                </div>
            </div>-->
        </div>
    </div>

</footer>