<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --newColor1:#ccc;
  
  --newColor3:#777;
  --newColor4:#555;
  --newColor5:#B4B4B4;
  --newColor6:#333;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
text-decoration: none;
outline: none;
border: none;
/*text-transform: capitalize;*/
transition: all .2s linear;
}

html{
  font-size: 60.5%;
  /*overflow-x: hidden;*/
  scroll-padding: 5.5rem;
  scroll-behavior: smooth;
}
header{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    height: 120px;  
}

header .container{
 height: 100%;

}

.header nav{
  display: flex;
  padding: 2% 3%;
  /*padding-top: 3px;*/
  justify-content: space-between;
  align-items: center;
  background-color: #5B9D4F;
  font-size: 12px;
  height: 3px;
}

.header-items .logo{
  width: 40px;
  margin-left: 0px;
}
.header-items{
 
  margin: 0;
  padding: 10px 0;
  margin-top: 0px;
  display: flex;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  border-radius: 5px;
 
}

.header-items li{
  list-style: none;
  text-align: left;
  display: block;
  /*border-left: 1px solid rgba(0,0,0,.2);*/
}

.header-items li a{
  text-decoration: none;
  padding: 0 10px;
  display: block;
  /*font-weight: 600;*/
}
.header-items li a:hover{
 background-color: #eee;
 color: #fff;
}

.header-items .search-bar-container {
    font-size: 30px;
    border-bottom: 2px solid #5B9D4F;
    width: 130px;
    margin-left: 130px;
    margin-bottom: 8px;
}

#search-bar{
  width: 100%;
}
.icons #search-btn{ 
  color: #5B9D4F; 
  margin-top: 3rem;  
}
#search-btn{
    margin-left: -30px;
    font-size: 15px;
    cursor: pointer;
   
}
.icons .fa-shopping-cart{
  color: #5B9D4F;
 font-size: 45px;
 margin-left: 40px;
 cursor: pointer;
}

.header-items li a .icon{
  height: 30px;
  width: 30px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 10px;
}

.header-items li a .icon img{
  height: 100%;
  width: 100%;
  line-height: 30px;
  color: #7755A2;
 
}

.header-items span{
  font-size: 12px;
  transition: 0.5s;
  color: #7755A2;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 20px;
}
.header-items span li.active a {
  color: #5B9D4F;
  border-bottom: 3px
solid #5B9D4F;
}


.header-items li a:hover .icon img{
  /*transform: translateY(-110%);*/
  color: var(--green);
}

.header .nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

  
}
.header .nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Noto Sans Display', sans-serif;
  
}

.header .contact{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.header .contact a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Noto Sans Display', sans-serif;
  
}

section .carousel{
  
}


/* slider navigation*/
.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background-color: #fff;
  color: #5B9D4F;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
  background-color: red;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
  /*needs to be removed*/
  
}


section .container{
  margin-top: 150px;
 
}
.carousel .carousel-inner .carousel-item img{
  width: 100%;
  /*margin-top: 50px;*/
  height: 300px;
  border-radius: 20px;
}

.img-slider{
  position: relative;
  margin: 5px;
  width: 100%;
}
.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
}
.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}
/* remove*/
.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}
.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.img-slider .slide .info p{
  color: #fff;
  background-color: rgba(0,0,0,.1);
  font-size: 16px;
  width: 60px;
  padding: 10px;
  border-radius: 4px;
}
.img-slider .navigation{
  z-index: 1;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background-color: rgba(255,255,255,0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.col-md-4 img{
  width: 40px; 
  height: 40px; 
}
.col-md-4{
  
  display: flex;
  border-left: 1px solid #7755A2;;
}
.col-md-4 :first-child{
  border-left: none;
}
.col-md-4 .smally {
  padding: 10px 10px;
}


/* card products here */
.prod .container h1{
  margin: 40px 0 0;
  text-align: center;
  align-items: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  color: #7755A2;
}
.prod .container .row {
  margin-top: 40px;
  
  
}
.container .col-md-3{
  margin-left: 0px;
  text-decoration: none;
  padding: 20px 30px;
  
}
.container .col-md-3{
  top:30px;
  font-size: 13px;
  cursor: pointer;
  height: 300px;
}
.opt{
  display: none;
}
.container .col-md-3:hover{
  background-color: #ccc;
  border: #7755A2;
  color: #B4B4B4;
  font-size: 13px;
  /*border: solid 1px #fff;*/


  /*border-top: 1px solid transparent;
  transition: 0.5s;

  border-radius: 0 0 10px 10px;8*/
  
}


/* card image*/
.container .col-md-3 img{
  width: 100%;
  height: 130px;
  border-radius: 20px;
  margin-left: 0px;
}
.container .col-md-3 img:hover{
  /*width: 100%;
  border-radius: none;
  border: solid 1px green;*/
}
.container .col-md-3 a{
  text-decoration: none;
}
.container .col-md-3 h4{
  margin-top: 15px;
  color: #333;
  font-size: 12px;
}
.container .col-md-3 .old{
  color: #333;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 20px;

 
}
.container .col-md-3 .price {
  color: #5B9D4F;
  font-size: 13px;
  margin-top: 7px;

}
.container .col-md-3 .describe{
  color: #666;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  margin-top: 1px;
}












/* responsive nature*/
@media(max-width:820px){
  .img-slider{
    width: 600px;
    height: 370px;
  }
  .img-slider .slide .info{
    padding: 10px 20px;
  }
  .img-slider .slide .info h2{
    font-size: 30px;
  }
  .img-slider .slide .info p{
    width: 70%;
    font-size: 13px;
  }
  .img-slider .navigation{
    bottom: 15px;
  }
  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media(max-width:620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }
  .img-slider .slide .info{
    padding: 10px 20px;
  }
  .img-slider .slide .info h2{
    font-size: 30px;
  }
  .img-slider .slide .info p{
    width: 70%;
    font-size: 13px;
  }
  .img-slider .navigation{
    bottom: 15px;
  }
  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media(max-width:420px){
  .img-slider{
    width: 400px;
    height: 250px;
  }
  .img-slider .slide .info{
    padding: 10px 20px;
  }
  .img-slider .slide .info h2{
    font-size: 30px;
  }
  .img-slider .slide .info p{
    width: 70%;
    font-size: 13px;
  }
  .img-slider .navigation{
    bottom: 15px;
  }
  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}
</style>
    <div class="prod">
        <div class="container">
            <h1>Deal Of The Day - Nigeria</h1>
            <div class="row my-5">
                {% for item in items %}

                <div class="col-md-3 my-4">
               <a href="">
              
                    <img  src="{{ item.image }}" alt="" class="w-100">
                    <h4 class="my-">{{ item.name }}</h4>
                    <span class="old">#{{ item.old_price}}/pack</span>&nbsp;&nbsp;
                    <span class="price">#{{item.new_price}}/pack </span>
                     <a href="" class="opt">view options ></a>
                    
                    <p  class="describe">{{item.desc |truncatewords:9}}</p>
                        
               </a>
                </div>
                {% endfor %}
            
                </div>
            </div>
        </div>